{% extends "base.html" %}

{% block content %}
  <h1>TODO list <a href="{% url 'list:task-create' %}" class="btn btn-success">+</a></h1>
    {% if task_list %}
      {% for task in task_list %}
        <h5>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <span>
              {{ task.content }}
              {% if task.is_done %}
                <span class="fw-bold text-success">Done</span>
              {% else %}
                <span class="fw-bold text-danger">Not Done</span>
              {% endif %}
            </span>
            <a href="{% url 'list:do-task' task.id %}"
            class="btn {% if task.is_done %}btn-secondary{% else %}btn-success{% endif %}">
              {% if task.is_done %}
                Undo
              {% else %}
                Complete
              {% endif %}
            </a>
          </div>
        </h5>
        <p>
          Created: {{ task.datetime|date:"F d, y, H:i a" }}
          {% if task.deadline %}
            <span style="color: darkred">Deadline: {{ task.deadline|date:"F d, y, H:i a" }}</span>
          {% endif %}
        </p>
        <p>Tags:
          {% for tag in task.tags.all %}
            {{ tag }}
          {% endfor %}
        </p>
        <p>
          <a href="{% url 'list:task-update' task.id %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'list:task-delete' task.id %}" class="btn btn-danger">Delete</a>
        </p>
        <hr>
      {% endfor %}
    {% else %}
      <p>No tasks for now...</p>
    {% endif %}
{% endblock %}
